### Question 0

*  Draw a concepts diagram that uses all the following Github terminology 
   * Include any missing keywords that will simplify the concepts diagrams 


`Push`, `Repository`, `Clone`, `Pull`, `Pull Request`, `Branch`, `Merging`, `Github Client`, `README file`, `Private or Public`

# Add your photo here
![](https://raw.githubusercontent.com/cmchock/OCN682F22/main/2_data_structures_intro/Experience2.png)

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [176]:
# Write your answer here
test_matrix=matrix(1:6 , ncol=2)
rownames(test_matrix)=c("row_1","row_2","row_3")
colnames(test_matrix)=c("col_1","col_2")
test_matrix

      col_1 col_2
row_1 1     4
row_2 2     5
row_3 3     6

#### Question 2

* Load then sort the airquality data frame on its `Temp` and `Solar.R` columns in reverse order (largest to smallest values)
  * The function to sort a data frame is called order
* Display only the first 15 lines of your table

In [178]:
# Write your answer here
data("airquality")
my_df<-airquality[, c("Temp","Solar.R")]
ordered_df<-my_df[order(-my_df$Temp,-my_df$Solar.R),]
head(ordered_df, n=15)

    Temp Solar.R
120 97   203
122 96   237
121 94   225
123 94   188
42  93   259
127 93   189
126 93   183
70  92   272
69  92   267
43  92   250
102 92   222
125 92   197
75  91   291
124 91   167
40  90   291

#### Question 3

* Sort the airquality data frame on its `Temp` in decreasing order and `Solar.R` in increasing order
* Display only the first 15 lines of your table

In [179]:
# Write your answer here
data("airquality")
my_df<-airquality[, c("Temp","Solar.R")]
ordered_df<-my_df[order(-my_df$Temp,my_df$Solar.R),]
head(ordered_df, n=15)

    Temp Solar.R
120 97   203
122 96   237
123 94   188
121 94   225
126 93   183
127 93   189
42  93   259
125 92   197
102 92   222
43  92   250
69  92   267
70  92   272
124 91   167
75  91   291
101 90   207

#### Question 4

* There are various ways to select a subset of observations from a data frame.

* Consult your [R Reference Card](https://cran.r-project.org/doc/contrib/Baggott-refcard-v2.pdf), see `Data Selection and Manipulation` section.
  * What operations can you use to select all observations where the temperature is 72. Give at least two different answers to this question

# Write your answer here
1) `match(x,y)`
2) `which(x==a)`

#### Question 6

* You may have noticed when working with the `airqulity` data that some values show as `NA`
 * `NA` stands for not available, or missing values.
* A major part of data wrangling consists of cleaning missing values by either:
  * Dropping the lines that have missing values
   * Sometimes we can drop the column with missing values if the column is made of predominantly missing values
  * Imputing the missing values, which uses educated guesses (or more complex algorithms) to fill the missing values
  
* Find and remove all rows that are missing values for the `Solar.R` or `Ozone` variables
* Save the cleaned data to a new data frame called airquality_no_na
  * How many lines have been removed?

In [180]:
# Write your answer here
data("airquality")
airquality_no_na<-na.omit(airquality)
airquality_no_na

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
31   37   279      7.4 76   5     31
38   29   127      9.7 82   6      7
40   71   291     13.8 90   6      9
41   39   323     11.5 87   6     10
44   23   148      8.0 82   6     13
47   21   191     14.9 77   6     16
48   37   284     20.7 72   6     17
... ...   ...     ...  ...  ...   ...
123 85    188      6.3 94   8     31
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

* `42 lines` have been removed.

#### Question 7
* Let's use a different strategy and impute the missing value.
  * replace the missing values for Solar.R using that month's average.
  * Example:
    * The missing value for line 6 should be replaced with the average for month 5.
    * The missing value for line 97 should be replaced with the average for month 8.

In [183]:
# Write your answer here
missing_Solar.R <- is.na(airquality$Solar.R)
airquality[missing_Solar.R,]

solar_r_may <- subset(airquality, Month==5)$Solar.R
solar_r_may

mean(solar_r_may, na.rm = TRUE)

subset(airquality, (Month==5) & (Solar.R=='NA'))

solar_r_may[c(5,6,11,27)]<-c(181.3)
solar_r_may

solar_r_august <- subset(airquality, Month==8)$Solar.R
solar_r_august

mean(solar_r_august, na.rm = TRUE)

subset(airquality, (Month==8) & (Solar.R=='NA'))
solar_r_august[c(4,5,6)]<-c(171.9)
solar_r_august

rbind(solar_r_may,solar_r_august)

   Ozone Solar.R Wind Temp Month Day
5  NA    NA      14.3 56   5      5
6  28    NA      14.9 66   5      6
11  7    NA       6.9 74   5     11
27 NA    NA       8.0 57   5     27
96 78    NA       6.9 86   8      4
97 35    NA       7.4 85   8      5
98 66    NA       4.6 87   8      6

 [1] 190 118 149 313  NA  NA 299  99  19 194  NA 256 290 274  65 334 307  78 322
[20]  44   8 320  25  92  66 266  NA  13 252 223 279

[1] 181.2963

     Ozone Solar.R Wind Temp Month Day

 [1] 190.0 118.0 149.0 313.0 181.3 181.3 299.0  99.0  19.0 194.0 181.3 256.0
[13] 290.0 274.0  65.0 334.0 307.0  78.0 322.0  44.0   8.0 320.0  25.0  92.0
[25]  66.0 266.0 181.3  13.0 252.0 223.0 279.0

 [1]  83  24  77  NA  NA  NA 255 229 207 222 137 192 273 157  64  71  51 115 244
[20] 190 259  36 255 212 238 215 153 203 225 237 188

[1] 171.8571

     Ozone Solar.R Wind Temp Month Day

 [1]  83.0  24.0  77.0 171.9 171.9 171.9 255.0 229.0 207.0 222.0 137.0 192.0
[13] 273.0 157.0  64.0  71.0  51.0 115.0 244.0 190.0 259.0  36.0 255.0 212.0
[25] 238.0 215.0 153.0 203.0 225.0 237.0 188.0

               [,1] [,2] [,3] [,4]  [,5]  [,6]  [,7] [,8] [,9] [,10] [,11]
solar_r_may    190  118  149  313.0 181.3 181.3 299   99   19  194   ...
solar_r_august  83   24   77  171.9 171.9 171.9 255  229  207  222   ...
               [,12] [,13] [,14] [,15] [,16] [,17] [,18] [,19] [,20] [,21]
solar_r_may    320    25    92    66   266   181.3  13   252   223   279
solar_r_august  36   255   212   238   215   153.0 203   225   237   188